/* Mobile & Tablet */
@media (max-width: 1023px) {
    .places-btn__buying {
        font-size: 16px;
        line-height: 1.6;
    }

    .contact-option--text {
        font-size: 20px;
    }

    .cotact-name,
    .contect-email,
    .contect-message {
        padding: 12px;
        line-height: 1.6;
    }

    #content .tour-ticket-item {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 1.6;
    }

    .social-icon {
        font-size: 32px;
    }

    .power-by__text {
        font-size: 18px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #slider {
        margin-top: calc(var(--header-height) - 1px);
    }
  
    .contact-option {
        padding: 32px 16px;
    }

    #content .member-avatar {
        width: 170px;
    }

    #content .content-section {
        font-size: 18px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }

    #nav {
        flex-direction: column;
    }

    #nav>li:first-child {
        width: calc(100% - 65.5px);
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav li a {
        line-height: 48px;
    }

    #nav .subnav a {
        color: var(--white-color);
        padding: 0px 30px;
        line-height: 48px;
    }

    .text-content {
        display: none;
    }

    #header .search-btn {
        display: none;
    }

    #nav .nav-arrow-down {
        right: calc(100% - 84px);
    }

    #header .mobile-bars-btn {
        display: block;
    }

    #content .places-list,
    .contact-basic-wrap,
    .contact-option {
        flex-direction: column;
    }

    .contact-basic-wrap {
        margin-top: 20px;
    }

    #content .member-list {
        flex-direction: column;
    }

    #content .member-items {
        text-align: center;
    }

    #content .member-items:hover {
        transform: none;
    }

    #content .member-avatar {
        width: 223px;
    }

    #content .places-item {
        padding: 0 8px;
        margin-bottom: 16px;
    }

    .contact-send-submit {
        width: 100%;
    }
    
    .send-submit--wrap {
        margin-top: 16px;
    }

    .cotact-name,
    .contect-email {
        width: 100%;
        margin-top: 12px;
    }

}